/* CSS Document */

/*
Author  : Luc Heaton
URL     : lucheaton.com
Email   : luc@lucheaton.com
*/

* {
	box-sizing: border-box;
}
html {
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}
a,p,h1,h2,h3,h4,li {
    font-family: 'Roboto-Slab', serif;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: #333333;
    margin: 0;
}
header {
	justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 200;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	color: #d3d3d3;
	text-align: center;
	padding: 10px;
}
li a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}
.first-item a {
	padding-right: 32px;
	text-decoration: none;
}
.first-item a:hover {
	text-decoration: none;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
.item-title {
	padding-top: 5px;
	text-align: center;
	font-weight: 100;
	font-size: 0.8rem;
	color: #b3b3b3
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}
/*Less than*/
@media (max-width: 400px) {
	html {
		margin-left: 16px;
		margin-right: 16px;
	}
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}